extends layout

block content
  h1= "Nuevo Alquiler"
  form(id="newRent" method="post" action="/api/rent/save")
    label Dias de alquiler
    input(id="days" name="days" type="text" required)
    br
    label Selecciona vehiculo
    br
    select(id="car" name="car")
      each car in cars
        option(value="/api/car/" + car.id) #{car.brand} - #{car.model} (ID:#{car.id})
    br
    label Selecciona Cliente
    br
    select(id="client" name="client")
      each client in clients
        option(value="/api/client/" + client.id) #{client.name} #{client.surname} (ID:#{client.id})
    br
    br
    input(type="submit")


